.footer {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  color: #F5F5F5;
  text-align: center;
  padding: 1rem;
  font-family: 'mainFont';
  border-top: 1px solid #F5F5F5;
  width: 100%;
  min-height: 100%;
}
